body{
    font-family: Arial, sans-serif;
}

h1{
    text-align: center;
}

.container{
    width: 300px;
    margin: 0 auto;
    text-align: center;
}

.container input{
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 12px;
}
.container button{
    margin-top:5px;
    margin-right: 10px;
    margin-left:10px;
    padding: 10px 20px;
    font-size: 12px;
    cursor: pointer;
    border-radius: 6px;
    background-color: lightgreen;
}

.container #result{
    margin-top: 15px;
    font-weight: bold;
}