body{
    background-color: hsl(0, 0%, 90%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

form{
    background-color: hsl(0, 0%, 100%);
    text-align: center;
    max-width: 350px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px hsla(0, 0%, 0%, 0.3);
}

#generate{
    background-color: lightgreen;
    border: none;
    font-size: 1.5em;
    padding: 10px 15px;
    border-radius: 8px;
    box-shadow: 3px 3px 5px black;
}

#result{
    font-weight: bold;
    font-size: 1.5em;
}