.container{
    text-align: center;
    margin-top: 50px;
}

.container #generateBtn{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.container #result{
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}